<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Qross Keeper Notification Mail for Beats</title>
    <style type="text/css">
        body { margin:0px; }
        #title { font-family: "Microsoft YaHei", Consolas; font-size: 20px;  line-height: 200%; border-bottom: 1px dotted #666666; }
        #details { font-family: "Microsoft YaHei", Consolas; color: #666666; font-size: 14px; line-height: 200%; font-weight:bold; }
        #error { font-family: "Microsoft YaHei", Consolas; color: #990000; font-size: 14px; line-height:200%; }
    </style>
</head>
<body>
<div id="title">Keeper Beats at #{tick}</div>
<div id="details">
    <%
    OPEN QROSS;
    OUTPUT # SELECT actor_name AS Actor, status AS Status, last_beat_time AS LastBeat FROM qross_keeper_beats -> TO HTML TABLE;
    %>
</div>
</body>
</html>