<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Qross Keeper Notification Mail for Beats</title>
    <style type="text/css">
        body { margin: 0px; }
        #title { font-family: Consolas; font-size: 20px;  line-height: 200%; border-bottom: 1px dotted #666666; }
        #details { font-family: Consolas; color: #666666; font-size: 14px; line-height: 200%; font-weight:bold; }
        #error { font-family: Consolas; color: #990000; font-size: 14px; line-height: 200%; }
    </style>
</head>
<body>
<div id="title">Keeper Node Disconnection</div>
<div id="details">
    <%
    OPEN QROSS;
    OUTPUT # SELECT node_name AS NodeName, node_address AS NodeAddress, status AS Status, CAST(online_time AS CHAR) AS OnlineTime, CAST(disconnect_time AS CHAR) AS DisconnectTime FROM qross_keeper_nodes WHERE status<>'hide' -> TO HTML TABLE;
    %>
</div>
</body>
</html>