<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Qross Keeper Notification Mail for Failed or Incorrect Task</title>
    <style type="text/css">
        body { margin:0px; }
        #title { font-family: "Microsoft YaHei", Consolas; font-size: 20px; padding: 10px 10px 0px 10px; }
        #exceptions { border-top: 1px solid #CCCCCC; padding-top:10px; margin: 0px 10px 10px 10px; }
        .ERROR { font-family: "Microsoft YaHei", Consolas; font-size: 14px; color:#D00000; line-height:200%; }
    </style>
</head>
<body>
<div id="title">KEEPER EXCEPTIONS: ${companyName}</div>
<div id="exceptions">
    ${exceptions}
</div>
</body>
</html>