<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Qross Keeper Notification Mail for Failed or Incorrect Task</title>
    <style type="text/css">
        body { margin:0px; }
        #title { font-family: "Microsoft YaHei", Consolas; font-size: 20px; padding: 10px 10px 0px 10px; }
        #title span { color: #A3D900; }
        #details { font-family: "Microsoft YaHei", Consolas; color: #666666; font-size: 14px; line-height: 150%; padding: 10px 10px 10px 10px; font-weight:bold; }
    </style>
</head>
<body>
<div id="title">#{title} #{task_time} <span>#{status}</span> </div>
<div id="details">
    Task #{task_id} of Job #{job_id} has been created.
</div>
</body>
</html>